h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

.FillPageHeight {
    min-height: 100vh;
}

.FillParentHeight {
    height: 100%;
}

.FillParentWidth {
    width: 100%;
}

.SidebarBox {
    min-height: 33.33333vh;
    background: rgba(27, 48, 105, 0.6);
    border: solid rgb(17, 33, 66);
    border-width: 2px 4px 2px 4px;
}

.LeftContent {
    background: url("/app/img/starry-night.jpg") no-repeat center fixed;
    background-color: #4F3A53;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.LeftContentSpacer {
    min-height: 30vh;
}

.FlexStretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
}

.JustifyCenter {
    -webkit-justify-content: center;
    justify-content: center;
}