<div class="Spacer-10"></div>

<div class="row">
    <div class="col-xs-12 text-xs-center">
        <div class="h3" ng-hide="createMode">
            Sign In or Create an Account
        </div>
        <div class="h3" ng-show="createMode">Create Your Free Account</div>
    </div>
</div>
<div class="row Spacer-2-5"></div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <form id="login-form">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input ng-model="email" type="email" class="form-control" id="emailInput" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input ng-model="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
            </div>
            <div ng-cloak ng_show="createMode" class="form-group">
                <label for="confirmPassInput">Confirm Password</label>
                <input ng-model="confirm" type="password" class="form-control"
                       id="confirmPassInput" placeholder="Confirm Password">
            </div>

            <div ng-hide="createMode" class="checkbox">
                <label>
                    <input ng-model="rememberMe" type="checkbox"> Remember Me
                </label>
            </div>

            <div ng-show="err" class="alert alert-danger">
                {{err}}
            </div>

            <div class="text-xs-center">
                <div>
                    <button class="btn btn-primary" ng-click="login(email, password, rememberMe)" ng-hide="createMode">
                        Sign In
                    </button>
                    <button class="btn btn-secondary" ng-click="cancelLogin()" ng-hide="createMode">
                        Cancel
                    </button>
                    <button class="btn btn-success" ng-click="createMode = true; clearErr()" ng-hide="createMode">
                        Create Account
                    </button>
                </div>

                <div>
                    <button class="btn btn-success" ng-cloak ng-show="createMode" ng-click="createAccount()">
                        Create Account
                    </button>
                    <button class="btn btn-secondary" ng-cloak ng-show="createMode"
                            ng-click="createMode = false; clearErr()">
                        Cancel
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="Spacer-10"></div>

