<div class="card-block">
    <h4 class="card-title">
        <button class="btn btn-secondary" ng-click="goBack()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        {{pin.name}}
    </h4>
</div>
<div class="card-block">
    <form>
        <fieldset class="form-group">
            <label for="nameInput">Name:</label>
            <input id="nameInput" type="text" ng-model="pin.name">
        </fieldset>
        <p>
            Latitude: {{pin.location.latitude}}<br>
            Longitude: {{pin.location.longitude}}
        </p>
        <fieldset class="form-group">
            <label for="notesInput">Notes:</label>
            <textarea id="notesInput" class="form-control" ng-model="pin.notes"></textarea>
        </fieldset>
        <button class="btn btn-danger" ng-click="removePin(pin)">Delete Pin</button>
    </form>
</div>